extends layout

block content
  h1 The diff of “#{section.heading}”

  p The section is located at: #{topicPath}

  p.note Note: This service reformats HTMLs to reduce unnecessary diffs. The following HTMLs are not equal to original HTMLs. <a href="/about/">More info</a>.

  table.diff
    colgroup
      col(style='width:50%')
      col(style='width:50%')
    thead
      tr
        th WHATWG HTML Standard
        th W3C HTML 5.1
      tr
        td
          if section.whatwg
            - var href = 'https://html.spec.whatwg.org/#' + section.whatwg.id
            a(href=href)= section.whatwg.heading
        td
          if section.w3c
            - var href = 'https://w3c.github.io/html/#' + section.w3c.id
            a(href=href)= section.w3c.heading
    tbody
      each diff in diffs
        tr
          td
            each hunk in diff.a
              if hunk.removed
                mark #{hunk.value}
              else
                | #{hunk.value}
          td
            each hunk in diff.b
              if hunk.added
                mark #{hunk.value}
              else
                | #{hunk.value}
