include ./mixins/sectionLink.jade
include ./mixins/diffGeneratedNotice.jade

extends layout

block content
  h1 “#{section.headingText}”

  p The section is located at: #{topicPath}
  
  h2 Difference between HTML Standard and HTML 5.1

  p.note Note: This site reformats HTMLs to reduce unnecessary diffs. The following HTMLs are not equal to the specifications. <a href="/about/">More info</a>.

  +diffGeneratedNotice(time)

  table.diff
    colgroup
      col(style='width:50%')
      col(style='width:50%')
    thead
      tr
        th WHATWG HTML Standard
        th W3C HTML 5.1
      tr
        td
          if section.whatwg
            - var id = encodeURIComponent(section.whatwg.id);
            - var href = 'https://html.spec.whatwg.org/multipage/#' + id;
            a(href=href)= section.whatwg.originalHeadingText
          else
            | Not available
        td
          if section.w3c
            - var parent = section.parent;
            - while (parent.parent) { parent = parent.parent }
            - var html = encodeURIComponent(parent.w3c.id) + '.html';
            - var id = encodeURIComponent(section.w3c.id);
            - var href = 'https://w3c.github.io/html/' + html + '#' + id; 
            a(href=href)= section.w3c.originalHeadingText
          else
            | Not available
    tbody
      each diff in diffs
        tr
          td
            each hunk in diff.a || []
              if hunk.removed
                mark.mark #{hunk.value}
              else
                | #{hunk.value}
          td
            each hunk in diff.b || []
              if hunk.added
                mark.mark #{hunk.value}
              else
                | #{hunk.value}

  h2 Navigation

  +sectionLegends()
  
  div.localNavi
    dl
      dt Previous section
      dd
        +sectionLink(previousSection)
      dt Next section
      dd 
        +sectionLink(nextSection)
