include ../mixins/sectionLink.jade

mixin updateEntryOfOrg(updateSubEntry, section, sameOrg)
  - var isDiffStatChanged = false;
  - var trending = null;
  if sameOrg && updateSubEntry && updateSubEntry.diffStat
    - var diffStat = updateSubEntry.diffStat;
    if diffStat.diffCount > 0
      - isDiffStatChanged = true;
      - trending = { src: '/images/trending_up.svg', alt: 'increased' };
    else if diffStat.diffCount < 0
      - isDiffStatChanged = true;
      - trending = { src: '/images/trending_down.svg', alt: 'decreased' };
    else
      - trending = { src: '/images/trending_flat.svg', alt: 'stayed the same' };

  if updateSubEntry
    if isDiffStatChanged
      strong #{updateSubEntry.splitted}
    else
      | #{updateSubEntry.splitted}
  else if section
    | not modified
  else
    | not available
  if trending
    img.trend(src=trending.src, alt=trending.alt, width=24, height=24)

mixin trendLegends
  div.legends
    p Legends:
    dl
      dt
       img.trend(alt='increased', src='/images/trending_up.svg', width='14', height='14')
      dd
       p Differences were increased.
      dt
       img.trend(alt='decreased', src='/images/trending_down.svg', width='14', height='14')
      dd
       p Differences were decreased.
      dt
       img.trend(alt='stayed the same', src='/images/trending_flat.svg', width='14', height='14')
      dd
       p Differences were stayed the same.


mixin updateEntryOfSpecification(updated, orgTitle, org)
  - var updateEntries = (updated || []).filter(function(updateEntry) { return !!updateEntry[org]; });
  h3= orgTitle
  if updateEntries.length > 0
    p= orgTitle
     |  is updated
    ul.sections
      each updateEntry in updateEntries
        li.section
          if updateEntry.section
            +sectionLink(updateEntry.section)
          else
            |= updateEntry.headingText
          div.whatwg WHATWG HTML Standard: 
            - var section = updateEntry.section ? updateEntry.section.whatwg || null : null;
            +updateEntryOfOrg(updateEntry.whatwg, section, org === 'whatwg')
          div.w3c W3C HTML: 
            - var section = updateEntry.section ? updateEntry.section.w3c || null : null;
            +updateEntryOfOrg(updateEntry.w3c, section, org === 'w3c')
  else
    p= orgTitle
     |  is not updated


mixin updateEntry(update)
  +updateEntryOfSpecification(update.updated, 'WHATWG HTML Standard', 'whatwg')
  +updateEntryOfSpecification(update.updated, 'W3C HTML', 'w3c')
