include ../mixins/sectionLink.jade


mixin updateEntryOfSpecification(updated, orgTitle, org)
  - var updateEntries = (updated || []).filter(function(updateEntry) { return !!updateEntry[org]; });
  h3=orgTitle
  if updateEntries.length > 0
    p= orgTitle
     |  is updated
    ul.sections
      each updateEntry in updateEntries
        li.section
          +sectionLink(updateEntry.section)
          div.whatwg WHATWG HTML Standard: 
            if updateEntry.whatwg
              strong
                | #{updateEntry.whatwg.splitted}
            else if updateEntry.section && updateEntry.section.whatwg
              | not modified
            else
              | not available
          div.w3c W3C HTML: 
            if updateEntry.w3c
              strong
                | #{updateEntry.w3c.splitted}
            else if updateEntry.section && updateEntry.section.w3c
              | not modified
            else
              | not available
  else
    p= orgTitle
     |  is not updated


mixin updateEntry(update)
  +updateEntryOfSpecification(update.updated, 'WHATWG HTML Standard', 'whatwg')
  +updateEntryOfSpecification(update.updated, 'W3C HTML', 'w3c')
